*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.body{
    background-color: rgb(185, 177, 164);
    background-image: url(../IMAGES/construccion.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    
}
 
.contenedor{
    max-width: 1920px;
    margin: auto;
} 

.header{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    display: flex;
    margin: 10px;
}
.header__nav{
    margin-top: 10px;
    background: #CC0202;
	color: #FFF;
	height: 45px;
	padding-left: 18px;
	border-radius: 10px;
    cursor: pointer;
    text-decoration-style: none;
    font-family: Arial;
    font-weight: bolder;
    grid-column: 5/11;
    
}
.item__p{
    color: white;
}

.header__list{
    font-family: Helvetica; 
    
}


.header__item{
    font-family: Helvetica;
    display: inline-block;
    font-size: 1.3rem;
    padding: 10px;
    margin: 5px;
    right: 0px;
    top: 10px;
    
}

.header__logo{
    position: relative;
    width: 90%;
    grid-column: 1/3;
    transition: width 2s;
}
.header__logo:hover{
    width: 100%;
}

.main{
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    grid-template-rows: repeat(4, auto);
}
/*grid*/
.primera__section{
    grid-column: 1/7 ;
    grid-row: 1/2;
}



 .main__titulo{
     
     background-color: #4d545b85;
     text-align: center;
     padding: 25px;
     font-family: Arial;
     margin-top: 250px;
     margin-bottom: 200px;
 }
.titulos__superior{
    font-family: helvetica;
    font-size: 6rem;
    font-weight: bold;
    color:rgb(44, 44, 44)    
}
.titulos__subtitulo{
    font-size: 3rem;
    font-family: Arial;
}

/*grid*/
.segunda__section{
    grid-column: 1/7;
    grid-row: 2/3;
    
    align-items: center;
}

.article__descrip{
    background: linear-gradient(to right, #dd1818, #333333);
    height: 450px;
    padding: 50px;
    font-family: Arial;
    display:flex;
    align-items: center;
    
    
}
.article__interior{
    border: solid 5px whitesmoke;
    padding: 50px 50px 50px 50px;
}
.article__title{
    font-size: 4rem;
    text-decoration: underline;
    color:thistle;
    
    
}

.article__parr{
    font-size: 2rem;
    color:thistle;
}

/*grid*/
.tercera__section{
    grid-column: 1/7;
    grid-row: 3/4;
    align-items: center;
}

.article__fotos{
    height: 400px;
    width: 100%;
    padding: 10px 100px 10px 100px;
    font-family: Arial;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background: linear-gradient(to right, #485563, #29323c);
}
.article__imagenes{
    height: auto;
    display: inline-block;
    
}

.article__imagenes--1{
    display: flex;
    height: 60%;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
}

.cuarta__section{
    grid-column: 1/7;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
}
.section__inf{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section__video{
    margin: 30px;
    padding: 15px;
    width: 100%;
}

.section__parrafo{
    margin: 60px 30px 30px 30px;
    font-size: 2rem;
    font-family: Arial;

}

.footer{
    
    background: linear-gradient(to right, #485563, #29323c);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    
}
.footer__section--sup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.footer__img{
    padding: 10%;
}

.footer__section-inf{
    font-size: 2rem;
    
}

.footer__desc{
    font-family: Arial;
    color: thistle;
}

/*article sobre nosotros*/

.article__fotosNS{
    height: 400px;
    width: 100%;
    padding: 10px 100px 10px 100px;
    font-family: Arial;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.article__imagenes--2{
    display: flex;
    height: 25vh;
    padding-top: 20px;
    
}

.main__list{
    font-size: 1.3rem;
    font-family: Arial;
    padding-top: 10px;
    list-style: none;
    font-weight: bolder;
}
.article__parrSN{
    font-size: 2rem;
    color:thistle;
}

/*article nuestras obras*/

.section__imagenesNO{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-self: center;
    gap: 5px;
    padding: 20px;
    background-color: white;
    justify-items: center;
}
.article_div{
    display: inline-block;
}

.article__imagenNO{
    width: 24vw;
    
}
.article__parr--NO{
    font-family: Arial;
    font-size: 1.2rem;
    padding: 20px 5px 20px

}

/*article noticias*/

.section__noticias{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    background-color: white;
    padding: 50px;
}
.fecha__noticia{
    font-family: Arial;
    font-size: 2rem;
    padding: 15px;
}
.noticia__img{
    height: 20vw;
}
.div__noticias{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 20px;
}
.noticias__descr{
    font-family: Arial;
    font-size: 2rem;
}

/*article nuestro equipo*/
.section__NuestroEquipo{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    font-family: Arial;
    padding: 50px 10px 50px 10px;

}
.section__tituloNE{
    font-size: 2rem;
    padding: 10px;
}
.section__listaNE{
    list-style:inside;
    font-size: 1.5rem;
}

/*article contacto*/
.mapa{
    background-color: rgb(255, 255, 255);
    padding: 5px;
}
.section__contacto{
    font-family: Arial;
    background-color: rgb(185, 177, 164);
    align-items: center;
    grid-column: 1/7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 25px;
}
.formulario{
    padding: 50px 80px 50px 80px;
}
.legend{
    
    font-size: 2rem;
}
.fieldset{
    background-color: rgb(255, 255, 255);

}
.div__contacto{
    background-color: rgb(255, 255, 255);
    padding: 15px;
}   


/*Estilo mobile*/
@media screen and (max-width: 480px) {
    .header__logo{
        width: 30%;
        grid-column: 1/7;
        grid-row: 1/2;
        
    }
    .header__nav{
        grid-column: 1/10;
        grid-row: 2/3;
        height: 30px;
        width:max-content
        border-radius: 0px;
    }
    .header__item{
        font-size: 0.8rem;
        margin: 0;
        padding: 0px;
        padding-top: 10px;
    }
    .main__titulo{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .titulos__superior{
        font-size: 250%;
    }
    .titulos__subtitulo{
        font-size: 80%;
    }
    .article__interior{
        padding: 10px;
    }
    .article__title{
        font-size: 250%;
    }
    .article__parr{
        font-size: 150%;
    }
    .article__descrip{
        height: 250px;
    }
    .article__fotos{
        height: 800px;
        padding: 10px;
    }
    .article__imagenes--1{
        width: 80%;
        height: 30%;
    }
    .cuarta__section{
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        
    }
    .section__video{
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 5px;
        padding: 5px;
        width: 90%;
        
    }
    .section__parrafo{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .footer__section-inf{
        font-size: 100%;
    }
    .footer{
        gap:10px;
    }
    /*nuestros servicios*/
    .article__parrSN{
        font-size: 1rem;
    }
    .article__imagenes--2{
        width: 100%;
    }
    .main__list{
        font-size: 0.8rem;
    }
    .article__fotosNS{
        display: inline-block;
    }

    /*nuestras obras*/
    .section__imagenesNO{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        align-content: stretch;
    }
    .article__imagenNO{
        width: 100%;
        padding: 5%;
        
    }
    /*nuestro equipo*/
    .section__tituloNE{
        font-size: 1.5rem;
        padding: 0px;
        
    }
    .section__listaNE{
        font-size: 1rem;
        
    }
    .section__NuestroEquipo{
        padding: 10px;
        
    }
    .section__list{
        align-self: center; 
    }
    /*noticias*/
    .div__noticias{
        flex-direction: column;
    }  
    .noticias__descr{
        font-size: 1.5rem;
    }
    .noticia__img{
        width: 80%;
        height: auto;
    }
    /*contacto*/
    .section__contacto{
        flex-direction: column;
    }
    .mapa{
        width: 100%;
        
    }
}